/* SMALLEST SCREENS: */	

	/* FONTS: */

		/* Fonts from Google's font API. */
		@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");

	/* BODY: */

		body {
			background-color: #000000;
			background-image: url("../pics/blue-bg.gif");
			font-family: "Ubuntu Mono", monospace;
		}

		h1, h2, h3 {
			font-family: "Ubuntu Mono", monospace;
			font-weight: 700;
			text-align: center;
		}

		#content {
			background-color: #FFFFFF;
			box-shadow: 2px 2px 4px #000000;
			margin-left: auto;
			margin-right: auto;
			padding: 10px;
			width: 80%;
		}

	/* HEADER: */

		header {
			text-align: center;
		}

	/* NAVIGATION BAR: */

		#navigation ul {
			padding: 0px;
		}

		#navigation li {
			list-style-type: none;
			padding: 2em;
		}

	/* PORTFOLIO: */

		#portfolio {
			margin-left: auto;
			margin-right: auto;
		}

	/* FOOTER: */

		footer {
			text-align: center;
		}

/* SMALL SCREENS: */

	@media screen and (min-width: 768px) {

		#navigation li {
			display: inline;
		}

	}

/* MEDIUM SCREENS: */
	
	@media screen and (min-width: 992px) {

		#content {
			padding: 20px;
		}

	}

/* LARGE SCREENS: */

	@media screen and (min-width: 1200px) {

		#content {
			padding: 30px;
		}

	}