<h2>
	<i class="fa fa-firefox"></i>
	{{headline}}
</h2>

<h3>
	git-started
</h3>

<img src="website-pics/git-started.png" class="fullscreen-screenshot" alt="git-started" />

<h3>
	dawg-coffee
</h3>

<img src="website-pics/dawg-coffee.png" class="fullscreen-screenshot" alt="dawg-coffee" />

<h3>
	police-shootings
</h3>

<img src="website-pics/police-shootings.png" class="fullscreen-screenshot" alt="police-shootings" />

<h3>
	crud-reviews
</h3>

<img src="website-pics/crud-reviews.png" class="fullscreen-screenshot" alt="crud-reviews" />

<h3>
	spotify-app
</h3>

<img src="website-pics/spotify.png" class="fullscreen-screenshot" alt="spotify-app" />

<h3>
	iSchool Application Portfolio
</h3>

<img src="website-pics/ischool.png" class="fullscreen-screenshot" alt="iSchool Application Portfolio" />

<!-- ANGULAR -->


<!--
<div ng-repeat="artrack in artracks" class="artistDiv"
							title="&quot;{{artrack.name}},&quot; by {{artrack.artists[0].name}}">
							<img class="albumCover" src="{{artrack.album.images[1].url}}" 
								alt="{{artrack.album.name}}" />
							<div class="albumInfo">
									<h2>
										<i class="fa fa-music"></i>
										<a ng-href="" ng-click="play(artrack.preview_url, 
											artrack.name, artrack.artists[0].name)">
											{{artrack.name}}
										</a>
									</h2>
								<h3>
									from
									<a ng-href="" ng-click="albumSearch(artrack.album.name, 
										artrack.album.id)">
										{{artrack.album.name}}
									</a>
								</h3>
							</div>
						</div>
-->